<h3>Listado de Héroes</h3>

<h3 *ngIf="deletedHeroe; else nothingWasDeleted">Héroe borrado <small class="text-danger">{{ deletedHeroe }}</small> </h3>

<ng-template #nothingWasDeleted>
    <h3>No ha borrado nada</h3>
</ng-template>

<button 
    class="btn btn-outline-danger" 
    *ngIf="heroNames.length != 0"
    (click)="removeLastHero()" >
    Borrar último héroe
</button>

<ul class="mt-2 list-group">
    <li class="list-group-item"
        *ngFor="let name of heroNames">
        {{ name }}
    </li>
</ul>
